.Header {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
}

.Aside {
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
}

.Directory {
    text-align: center;
    float: center;
}

.cardStyle {
    display: inline-block;
    border: 3px dotted grey;
    width: 300px;
    padding: 10px;
}